// RWD


$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 960px;
$xl: 1140px;
$xxl: 1400px;

$primary-color : #d0112b;

$bg : #fff;
$alt_bg: #f1f1f1;

$text-light: #ffffff;
$text-dark: #363636;
$dark-gray: #363636;
$gray: #848484;
$gray-light: #989898;
$gray-lighter: #cfcfcf;
$gray-extralight: #e7e7e7;
$gray-darker: #363636;
$gray-dark: $dark-gray;

$border-radius: 4px;

$topbar_font_path : '';

$bg-color: #960000;
$bg-light: #fff;
$bg-black: #111111;
$bg-gray: #414242;
$bg-gray-light: #676767;

$text-primary: #d0121b;

$text-light: #ffffff;
$text-dark: #363636;
$text-gray: #545454;
$text-black: #111111;

