<div id="htb__top" class="htb__full_width htb__{{ theme }} htb__fixed htb__border_{{ theme }}">

  <div class="htb__row">

    <div id="htb__logo">
      <h1>
        <a href="https://husarion.com">
          <img src="{{ base_url }}assets/img/logo_{{ theme }}.png" alt="Husarion - Platform to build and control personal robots">
        </a>
      </h1>
    </div>

    <div id="htb__top_rt">
    
      <nav id="main-menu">
       <ul>
	 <li class="dropdown">
	   <a href="https://husarion.com/#solution" class="services-dropdown-toggle" data-toggle="dropdown" role="button">Services</a>
	 </li>
         <li class="dropdown">
           <a href="#" class="product-dropdown-toggle" data-toggle="dropdown" role="button">Products</a>
           <ul class="product-dropdown-menu" role="menu">
             <div class="dropdown-content">
               <a href="https://husarion.com/#products" class="esp">CORE2</a>
               <a href="https://husarion.com/#products" class="ros">CORE2 - ROS</a>
               <a href="https://husarion.com/#rosbot">ROSBot</a>
               <a href="https://husarion.com/#telepresence">Telepresence</a>
             </div>
           </ul>
         </li>

         <li class="dropdown">
           <a href="#" class="docs-dropdown-toggle" data-toggle="dropdown" role="button">Docs</a>
           <ul class="docs-dropdown-menu" role="menu">
             <div class="dropdown-content">
               <a href="https://husarion.com/core2/">About</a>
               <a href="https://husarion.com/core2/tutorials/">Tutorials</a>
               <a href="https://husarion.com/core2/manuals/">Manuals</a>
               <a href="https://husarion.com/core2/software/">Software</a>
               <a href="https://husarion.com/core2/examples/">Examples</a>
               <a href="https://husarion.com/downloads" title="Downloads">Downloads</a>
               <a href="https://husarion.com/core2/api_reference/">API</a>
             </div>
           </ul>
         </li>
         <li class="community"><a href="https://community.husarion.com">Community</a></li>
         <li class="store"><a href="https://store.husarion.com">Store</a></li>
         <li class="sign_up"><a href="https://cloud.husarion.com">Log In</a></li>
       </ul>
     </nav>

      <div class="htb__2nd_menu htb__hide">

        <ul>
          {{#ifCond platform '==' 'ROBOCORE' }}
            <li class="htb__hide htb__show@sm">
              <a href="https://wiki.husarion.com/doku.php">Wiki</a>
            </li>
            <li class="htb__hide htb__show@sm">
              <a href="">Examples</a>
            </li>
            <li class="htb__hide htb__show@sm">
              <a href="" class="separator">API <span>reference</span></a>
            </li>

          {{/ifCond}}

          {{#ifCond platform '==' 'CORE2' }}

            <li class="htb__hide htb__show@sm">
              <a href="/core2">About</a>
            </li>
            <li class="htb__hide htb__show@sm">
              <a href="/core2/tutorials">Tutorials</a>
            </li>
            <li class="htb__hide htb__show@sm">
              <a href="/core2/manuals">Manuals</a>
            </li>
            <li class="htb__hide htb__show@sm">
              <a href="/core2/examples">Examples</a>
            </li>
            <li class="htb__hide htb__show@sm">
              <a href="/core2/api_reference">API <span>reference</span></a>
            </li>

          {{/ifCond}}

        </ul>
      </div>
    </div>
  </div>
</div>
